<div class="header-home">
	<h4>Create and solve word puzzles</h4>
	<p>Start by inputting the raw text that will be the answer</p>
	<p>Vowels will automatically be obscured</p>
	<p>Creating a puzzle for your friends to solve</p>
	<h4>Let's get started in the form below</h4>
</div>


<form action="/puzzle" method="get" >
	<label for="phrase">input your phrase to be puzzled here: </label>
	<input id="phrase" name="phrase" >
	<button id="phrase-button" type="submit">Puzzle It</button>
</form>