
<div class="header-puzzle headers">
	<h4>Try to fill in the blanks to figure out the phrase</h4>
</div>
<div class="puzzled">
	<h5>Puzzle: </h5>
	<h4>$newPuzzle</h4>
</div>

<form id="solve-form" action="/solve" method="get">
	<label for="solving">type in your solution and submit: </label>
	<input id="solving" name="solving">
	<button id="solve-button" type="submit">I'd like to solve</button>
</form>



	